.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('../public/images/img-11.jpeg') ; 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
 
}

.products {
  background-image: url('../public/images/img-6.jpeg'); 
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  
}

.sign-up {
  background-image: url('../public/images/img-8.jpeg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.main-review{
  width: 50%;
  margin: 50px 450px;
}
table a{
  text-decoration: none;
 
}
th{
  width: 100px;
}
td:nth-child(3){
  width: 500px;
}
.product-detail span{
  color:#2c2c54;
  display:inline;
  font-size:18px;
  font-weight:300;
  line-height:24px;
  text-align:left;
  text-shadow: #dfd6d6 1px 1px 0px;
  font-family: 'Times New Roman', Times, serif;
}
.product-container{
  background-image: url('../public/images/apple-store.jpeg');
background-repeat: no-repeat;
  border: 1px solid;
  background-size:cover;
  width: 73.5% ;
}
